form {
  display: grid;
}

div {
  display: grid;
  padding: 5px;
  width: 75%;
}

label {
  margin-top: 10px;
}

input {
  height: 20px;
  background: #edede9;
}

button {
  margin-top: 20px;
  width: 100px;
  margin-left: 13rem;
}
